.grid-cardList{
   display: flex;
   flex-direction: column;
   width: 35vw;
   padding-bottom: 1rem;
   
}
.grid-cardList p{
    font-size: 12px;
    opacity: 0.9;
    color: #111111;
}

.grid-cardList a{
    width: 40vw;
    color: #111111;
    text-align: center;
    text-decoration: none;
}

.grid-cardList img {
    width: 42vw;
}
