@media screen and (min-width: 1024px){
    .grid-cardList {
        width: 15vw;
    }

    .grid-cardList p {
        width: 15vw;
    }
    .grid-cardList h5{
        width: 15vw;
    }

    .grid-cardList img {
        width: 15vw;
    }

}