.grid-cardList{
   display: flex;
   flex-direction: column;
   width: 35vw;
   padding-bottom: 1rem;
   
}
.grid-cardList p{
    font-size: 12px;
    opacity: 0.9;
    color: #111111;
}

.grid-cardList h5{
    width: 40vw;
    color: #111111;
    text-align: center;
}

.grid-cardList img {
    width: 42vw;
}

@media screen and (min-width: 1024px){
    .grid-cardList {
        width: 15vw;
    }

    .grid-cardList p {
        width: 15vw;
    }
    .grid-cardList h5{
        width: 15vw;
    }

    .grid-cardList img {
        width: 15vw;
    }

}