<div class="superiorContainer">
    <app-menu-title></app-menu-title>
    <app-big-card></app-big-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>    
</div>

<div class="inferiorGridContainer">
    <h3>Escolha dos editores</h3>
    <ul>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
    </ul>
</div>

<router-outlet></router-outlet>
