<div class="headerContainer">
    <app-menu-title></app-menu-title>
</div>

<div class="superiorContainer">
    <div class="superiorContainerBigCard">
        <app-big-card></app-big-card>
    </div>
    <div class="superiorContainerSmallCard">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>    
    </div>
</div>

<div class="inferiorGridContainer">
    <h3>Escolha dos editores</h3>
    <ul>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
        <app-grid-card></app-grid-card>
    </ul>
</div>

<router-outlet></router-outlet>
