.headerContainer{
    background-color: #111111;
}

.superiorContainer{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    padding: 5vw 5vw 0;
}

.inferiorGridContainer{
    margin: 5vw;
}

.inferiorGridContainer ul {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    list-style: none;
    grid-column-gap: 5vw;
    grid-row-gap: 2.5vh;
}

.inferiorGridContainer h3 {
    color: #111111;
    padding: 2rem 0 1rem 0;
    opacity: 0.7;
}


@media screen and (min-width: 1024px) {
    .headerContainer{
        margin: 0 5vw;
    }
    .superiorContainer{
        flex-direction: row;
        margin: 0 5vw;
    }
    .superiorContainerBigCard{
        width: 45vw;
    }
    .superiorContainerSmallCard{
        height: 40vw;
    }
    .inferiorGridContainer{
        margin: 0 5vw;
    }
    .inferiorGridContainer ul {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 3vw;
    }
}