@media screen and (min-width:1024px) {
    .contentContainer{
        margin: 0 5vw
    }
    .contentContainer img{
        width: 70vw;
    }
    .contentContainer h1{
        font-size: 30px;
    }
    .contentContainer p{

        margin: 1.5rem 10vw;
    }
}