.headerContainer{
    background-color: #111111;
}

.superiorContainer{
    display: flex;
    flex-direction: column;
    background-color: #111111;
    padding: 5vw 5vw 0;
}

.inferiorGridContainer{
    margin: 5vw;
}

.inferiorGridContainer ul {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    list-style: none;
    grid-column-gap: 5vw;
    grid-row-gap: 2.5vh;
}

.inferiorGridContainer h3 {
    color: #111111;
    padding: 2rem 0 1rem 0;
    opacity: 0.7;
}

